@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=latin-ext");
body {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #FEFEFE;
  color: #2A211D;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

header {
  padding: 40px;
  margin: 0px;
  background-color: #2cb0fc;
  color: #2A211D;
  margin: 0 auto;
}
header .menu {
  font-weight: bold;
}

footer {
  background-color: #2A211D;
  color: #FEFEFE;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 1440px) {
  .container {
    width: 1300px;
  }
}

#map {
  width: 600px;
  height: 250px;
}

#logo, #menu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

#logo {
  height: 60px;
  width: 100px;
  background: #FEFEFE;
}

#menu {
  text-align: right;
  line-height: 56px;
}
#menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#menu ul li {
  opacity: 0.6;
  list-style-type: none;
  display: inline-flex;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#menu ul li a {
  color: #FEFEFE;
  text-decoration: none;
  font-weight: bold;
  padding: 0 20px;
}
#menu ul li:hover {
  opacity: 1;
}

.text-center {
  text-align: center;
}

.column {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.column-2 {
  width: 50%;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.column-4 {
  width: 25%;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.icon-large {
  font-size: 120px;
}

.main-area {
  padding: 100px 70px;
}

.wrap {
  flex-wrap: wrap;
}

.full-width * {
  width: 100%;
}

.main-icons div span {
  color: #2cb0fc;
}

.spot .column-2 {
  flex-wrap: wrap;
}
.spot .spot-text {
  font-size: 30px;
  line-height: 1.8;
}

h1, h2 {
  width: 100%;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 18px;
}

h3 {
  text-transform: uppercase;
}

.blue-part {
  background-color: #2cb0fc;
  color: #FEFEFE;
}

.icons-part {
  padding: 40px 100px;
}

.phone {
  position: absolute;
  background-image: url("../../images/main.png");
  width: 410px;
  height: 730px;
  background-size: 410px;
}

.buttons {
  display: flex;
}
.buttons .button {
  margin: 10px 10px 10px 0;
}

.button {
  border: 2px solid #FEFEFE;
  padding: 10px;
  min-width: 150px;
}
.button .icon {
  display: inline-block;
  float: left;
  font-size: 30px;
  padding: 1px 10px 0 0;
}
.button .text1 {
  font-size: 11px;
  text-transform: uppercase;
}
.button .text2 {
  font-size: 14px;
}

/*# sourceMappingURL=app.css.map */
